//
//  Production.xcconfig
//  Community Issue Reporter
//
//  Created by Francisco Hernandez on 25/6/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

API_URL = api.reportamelo.app/
SHARE_URL = share.reportamelo.app/

// AdMob Configuration (Production Units)
ADMOB_APP_ID = ca-app-pub-5599493986064395~9392666055
ADMOB_REPORT_VALIDATION_AD_UNIT = ca-app-pub-5599493986064395/6232150246
ADMOB_SIGN_PETITION_AD_UNIT = ca-app-pub-5599493986064395/9206366165
ADMOB_NATIVE_AD_UNIT = ca-app-pub-5599493986064395/5502356650
ADMOB_VIEW_AD_TO_REPORT_A_PROBLEM = ca-app-pub-5599493986064395/8587111577

// RevenueCat Configuration (Production Unit)
REVENUECAT_API_KEY = appl_vvTDqhUnRAezUcLDupkEQHjpsLv
